<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoDedupServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VideoDedupServer.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludedDirectories" serializeAs="String">
                <value />
            </setting>
            <setting name="FileExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxThumbnailComparison" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxDifferentThumbnails" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxDifferencePercentage" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MaxDurationDifferenceSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DurationDifferenceType" serializeAs="String">
                <value>Seconds</value>
            </setting>
            <setting name="MaxDurationDifferencePercent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ThumbnailCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Recursive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitorFileChanges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveStateIntervalMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </VideoDedupServer.Properties.Settings>
    </userSettings>
</configuration>