<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoDedupClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VideoDedupClient.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="StatusRequestInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ClientSourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>https</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>51726</value>
            </setting>
        </VideoDedupClient.Properties.Settings>
    </userSettings>
</configuration>