<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  
  <Package Name="$(var.ProductName)"
           Language="1033"
           Version="!(bind.FileVersion.Client_VideoDedupClient.exe)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">

    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ClientFeature"
             Title="$(var.ClientComponent)"
             Level="1">
      <ComponentGroupRef Id="ClientComponents" />
    </Feature>

    <Feature Id="ServerFeature"
             Title="$(var.ServerComponent)"
             Level="1">
      <ComponentGroupRef Id="ServerComponents" />
    </Feature>

    <UIRef Id="UISequence" />
  </Package>

  <!-- Directory definitions -->
  <Fragment>
    <Directory Id="VideoDedupServicePublishDir"
               FileSource="$(var.VideoDedupService.ProjectDir)bin\publish" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="SERVERFOLDER"
                 Name="$(var.ServerComponent)" >
          
      </Directory>
      <Directory Id="CLIENTFOLDER"
                 Name="$(var.ClientComponent)" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder" />
  </Fragment>

  <!-- Icon definition -->
  <Fragment>
    <Icon Id="ClientIcon.ico"
          SourceFile="$(var.VideoDedupClient.ProjectDir)Images\film.ico" />
    <Property Id="ARPPRODUCTICON"
              Value="ClientIcon.ico" />
  </Fragment>
  
  <!-- File actions -->
  <Fragment>
    <ComponentGroup Id="ClientComponents"
                    Directory="CLIENTFOLDER">
      <Files Include="$(var.VideoDedupClient.ProjectDir)bin\publish\*.*">
        <Exclude Files="$(var.VideoDedupClient.ProjectDir)bin\publish\VideoDedupClient.exe" />
      </Files>
        
      <Component Id="ClientComponent"
                 Guid="3378ED6E-B4A9-49D2-B7A3-F768FE027DB6"
                 Bitness="always64">
        <File Id="Client_VideoDedupClient.exe"
              Source="$(var.VideoDedupClient.ProjectDir)bin\publish\VideoDedupClient.exe" />

        <Shortcut Id="ClientStartMenuShortcut"
                  Directory="ProgramMenuFolder"
                  Name="$(var.ProductName)"
                  Icon="ClientIcon.ico"
                  WorkingDirectory="INSTALLFOLDER"
                  Advertise="yes" />

      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="ServerComponents"
                    Directory="SERVERFOLDER">
      <Files Include="$(var.VideoDedupService.ProjectDir)bin\publish\*.*">
        <Exclude Files="$(var.VideoDedupService.ProjectDir)bin\publish\VideoDedupService.exe" />
      </Files>
      <Files Include="$(var.VideoDedupService.ProjectDir)bin\publish\fr\*.*"
             Subdirectory="fr"/>
        
      <Component Id="ServerComponent"
                 Guid="B3034FC0-CCFB-44AC-A9B3-7E912B885254"
                 Bitness="always64">
        <File Id="Server_VideoDedupService.exe"
              Source="$(var.VideoDedupService.ProjectDir)bin\publish\VideoDedupService.exe" />

        <ServiceInstall Id="InstallService"
                        Name="$(var.ServerComponent)"
                        Description="Backend for VideoDedup. Allows background deduplication and monitoring."
                        Type="ownProcess"
                        DisplayName="$(var.ServerComponent)"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal" />

        <ServiceControl Id="StartService"
                        Start="install"
                        Stop="both"
                        Remove="uninstall"
                        Name="$(var.ServerComponent)"
                        Wait="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- UI Sequence -->
  <Fragment>
    <UI Id="UISequence">
      <ui:WixUI Id="WixUI_FeatureTree" />
      <!--Skip license dialog-->
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="CustomizeDlg"
               Order="2" />
      <Publish Dialog="CustomizeDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2" />
    </UI>
  </Fragment>
</Wix>
